Node-red_flow/mask_detector_flow.json
[{"id":"aaf68eda.1ff15","type":"tab","label":"Basic Raspberry Pi Flow","disabled":false,"info":""},{"id":"f495a9a7.225ef8","type":"function","z":"aaf68eda.1ff15","name":"isObjectDetected","func":"let maskDetected = false;\n\nfor (let object of msg.payload) {\n    if (object.class === 'mask-on') {\n        maskDetected = true;\n        break;\n    }\n}\nmsg.payload = maskDetected;\nreturn msg;","outputs":1,"noerr":0,"x":650,"y":240,"wires":[["d8dbd974.c567f8"]]},{"id":"c4d9dcb7.7ba13","type":"debug","z":"aaf68eda.1ff15","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":830,"y":80,"wires":[]},{"id":"1d35994d.7d5be7","type":"usbcamera","z":"aaf68eda.1ff15","filemode":"0","filename":"image01.jpg","filedefpath":"1","filepath":"","fileformat":"jpeg","resolution":"2","name":"","x":330,"y":300,"wires":[["6cab078.59a47f8","49f8b581.f2aeac","c13d7d24.e7b8"]]},{"id":"d8dbd974.c567f8","type":"switch","z":"aaf68eda.1ff15","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":650,"y":420,"wires":[["9cea8eb2.6c6e","f0e55b5e.6bac98","3b2a4575.145b1a"],["a19017cb.a13448","b6f46821.2cd1c8","f50f21cf.91aa9","3b2a4575.145b1a"]]},{"id":"9cea8eb2.6c6e","type":"exec","z":"aaf68eda.1ff15","command":"aplay","addpay":false,"append":"/home/pi/Downloads/mask_detected.wav","useSpawn":"false","timer":"","oldrc":false,"name":"Entry Authorized","x":1060,"y":120,"wires":[[],[],[]]},{"id":"a19017cb.a13448","type":"debug","z":"aaf68eda.1ff15","name":"Object not detected","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1030,"y":380,"wires":[]},{"id":"6cab078.59a47f8","type":"image","z":"aaf68eda.1ff15","name":"","width":"240","data":"payload","dataType":"msg","thumbnail":false,"pass":false,"outputs":0,"x":800,"y":640,"wires":[]},{"id":"49f8b581.f2aeac","type":"teachable machine","z":"aaf68eda.1ff15","name":"Mask Detector","mode":"online","modelUrl":"https://teachablemachine.withgoogle.com/models/oLSFYqXO_/","localModel":"teachable_model","output":"best","activeThreshold":false,"threshold":80,"activeMaxResults":false,"maxResults":3,"passThrough":false,"x":560,"y":100,"wires":[["c4d9dcb7.7ba13","f495a9a7.225ef8"]]},{"id":"b6f46821.2cd1c8","type":"exec","z":"aaf68eda.1ff15","command":"aplay","addpay":false,"append":"/home/pi/Downloads/wear_mask.wav","useSpawn":"false","timer":"","oldrc":false,"name":"Entry Rejected","x":1000,"y":580,"wires":[[],[],[]]},{"id":"82de4f2.610eeb","type":"rpi-gpio out","z":"aaf68eda.1ff15","name":"Red","pin":"38","set":true,"level":"0","freq":"","out":"out","x":1110,"y":500,"wires":[]},{"id":"f50f21cf.91aa9","type":"function","z":"aaf68eda.1ff15","name":"Reject","func":"msg.payload = 1\nreturn msg;","outputs":1,"noerr":0,"x":990,"y":440,"wires":[["82de4f2.610eeb"]]},{"id":"f0e55b5e.6bac98","type":"rpi-gpio out","z":"aaf68eda.1ff15","name":"Green","pin":"12","set":true,"level":"0","freq":"","out":"out","x":1030,"y":180,"wires":[]},{"id":"9732cd1b.6a311","type":"rpi-gpio out","z":"aaf68eda.1ff15","name":"Red","pin":"38","set":true,"level":"0","freq":"","out":"out","x":550,"y":660,"wires":[]},{"id":"2ba9dd92.d959d2","type":"function","z":"aaf68eda.1ff15","name":"Reset","func":"msg.payload = 0\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":500,"wires":[["9732cd1b.6a311","dd7536c3.ff7ad8"]]},{"id":"dd7536c3.ff7ad8","type":"rpi-gpio out","z":"aaf68eda.1ff15","name":"Green","pin":"12","set":true,"level":"0","freq":"","out":"out","x":550,"y":740,"wires":[]},{"id":"6a42b1c2.ec7c1","type":"switch","z":"aaf68eda.1ff15","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":230,"y":580,"wires":[["2ba9dd92.d959d2","aa256345.69f92"]]},{"id":"c771c140.ac2b3","type":"rpi-gpio in","z":"aaf68eda.1ff15","name":"","pin":"8","intype":"tri","debounce":"25","read":false,"x":90,"y":320,"wires":[["6a42b1c2.ec7c1","1d35994d.7d5be7"]]},{"id":"aa256345.69f92","type":"rpi-gpio out","z":"aaf68eda.1ff15","name":"Yellow","pin":"32","set":true,"level":"0","freq":"","out":"out","x":470,"y":840,"wires":[]},{"id":"8bac80ed.e4efc","type":"rpi-gpio out","z":"aaf68eda.1ff15","name":"Yellow","pin":"32","set":true,"level":"0","freq":"","out":"out","x":1130,"y":260,"wires":[]},{"id":"3b2a4575.145b1a","type":"function","z":"aaf68eda.1ff15","name":"Done Loading","func":"msg.payload = 0\nreturn msg;","outputs":1,"noerr":0,"x":980,"y":320,"wires":[["8bac80ed.e4efc"]]},{"id":"c13d7d24.e7b8","type":"usbcamera","z":"aaf68eda.1ff15","filemode":"1","filename":"maskimage.jpg","filedefpath":"1","filepath":"","fileformat":"jpeg","resolution":"1","name":"Save image","x":230,"y":80,"wires":[[]]}]